<ui5-bar class="headBar" design="Header">
  
  <a href="#" slot="startContent"><img src="favicon.ico" alt="logo" width="32" height="32" /></a>
  
  <ui5-title level="H3" size="H3">Base Visu</ui5-title>

  <div class="header-right-content" slot="endContent">
    <ui5-combobox [(ngModel)]="filterItem" value="filterItem">
      <ui5-cb-item text="filter item 1"></ui5-cb-item>
      <ui5-cb-item text="filter item 2"></ui5-cb-item>
      <ui5-cb-item text="filter item 3"></ui5-cb-item>
      <ui5-cb-item text="filter item 4"></ui5-cb-item>
    </ui5-combobox>
  
    <ui5-label style="color: #0070f2; font-weight: 600;" > Administrator </ui5-label>

    <ui5-button (ui5Click)="logOut()" design="Transparent">Logout</ui5-button>
  
    <ui5-button (click)="showItemList()" design="Transparent" id="btnLang" endIcon="sap-icon://slim-arrow-down">{{lang}}</ui5-button>
    <ui5-menu (ui5ItemClick)="setLang($event.text)" [open]="flag" opener="btnLang">
      <ui5-menu-item text="EN"></ui5-menu-item>
      <ui5-menu-item text="BN"></ui5-menu-item>
      <ui5-menu-item text="JP"></ui5-menu-item>
      <ui5-menu-item text="GE"></ui5-menu-item>
    </ui5-menu>
     
  </div>

</ui5-bar>

<div class="flex">
  <app-side-menu ></app-side-menu>
  <app-table-container ></app-table-container>
</div>


<router-outlet />
