
<ui5-card>
  <section>
  <ui5-side-navigation-item icon="add-folder" text="item 1" expanded>
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 3">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 4">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 1">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 3">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 4">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 1">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 3">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 4">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 1">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 3">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 4">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 1">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 3">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 4">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 1">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="add-folder" text="item 3">
    <ui5-side-navigation-sub-item  text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item icon="home" text="item 4">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
</section>
</ui5-card>