
<ui5-card>
  <ui5-side-navigation-item text="item 1" expanded>
    <ui5-side-navigation-sub-item text="item 1.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 1.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
  <ui5-side-navigation-item text="item 2">
    <ui5-side-navigation-sub-item text="item 2.1"></ui5-side-navigation-sub-item>
    <ui5-side-navigation-sub-item text="item 2.2"></ui5-side-navigation-sub-item>
  </ui5-side-navigation-item>
</ui5-card>